header {
    background-color: #0c6d06;
    min-height: 64px;
}

.container {
	

}


footer {
    background-color: #454545;
    padding: 2rem;
}

h1 #bemvindo {
	text-shadow: 0.5px 0.5px 1px #000;
}

.box {
	padding-bottom: 100px;
	box-shadow: 2px 2px 5px #000;
	margin-top: 150px;
	border-radius: 10px;
}

a {
	box-shadow: 2px 2px 3px #000;
}