header {
    background-color: #0c6d06;
    min-height: 64px;
}


footer {
    background-color: #454545;
    padding: 2rem;
}

#bemvindo {
	color: white;
	text-shadow: 1px 1px 2px #000;
}

.box {
	padding-bottom: 100px;
	box-shadow: 2px 2px 5px #000;
	margin-top: 100px;
	border-radius: 10px;
	background-image: url("assets/gyn2.jpg");
	background-repeat: no-repeat; 
	background-size: 280px 520px;
	background-color: #90EE90;
}

#btnAgendar {
	box-shadow: 2px 2px 5px #000;
	font-weight: bold;
}

#entrar:hover {
		box-shadow: 0 0 3px #000;
		border-radius: 100px;
}